<style type="text/css" media="screen">

/*Theme color :
primary : blueviolet
secondary : blue
third : black*/


/*------NAV BAR------*/

/*Navbar color when nav is white*/
.title-bar
{
    background: #FFF;
}
/*Color for the org title that displays when there is no logo*/
.logo-wrapper  span
{
    color: #000 !important;
}

/*color for navbar notification bell*/
.topbar__notifications .icon
{
    fill: #000;
}

/*color of hamburger menu (displays when screen is small)*/
.topbar__menu button
{
    color: #000;
}

/*color of user menu*/
.topbar__user__login a
{
    color: #000;
}

/*color of dropdown user menu*/
.topbar__dropmenu .dropdown>li>a
{
    color:#000;
}

/*color of triangle toggle that displays dropdown menu on mouse hover*/
.topbar__dropmenu>ul>li>a:after
{
    border-top-color: #000 !important;
}

/*shape of navbar*/
.main-nav__link--active a
{
    box-shadow: inset 0 4px 0 0 blueviolet;
}

/*------END OF NAV BAR------*/

/*------PARTICIPATORY PROCESS HEADER------*/


/*disable dark filter on process image header*/
.process-header__main:after
{
    background-color: transparent;
}

/*makes process header go up*/
.wrapper
{
    padding-top: 1rem;
}

/*button for see participatory process*/
.button.hollow
{
    border: 1px solid blueviolet;
    color: blueviolet;
}

/*shape participatory process*/
.section-heading:before
{
    background-color: blueviolet;
}

/*shape*/
.callout.secondary
{
    border-left: 8px solid blueviolet;
}
.card__datetime
{
    border-left: 4px solid blueviolet;
}

/*little flag*/
.author-data a, .author-data button:hover
{
    color: blue;
}
.author-data a, .author-data button
{
    color: blueviolet;
}

/*------END OF PARTICIPATORY PROCESS HEADER------*/


/*------BUTTONS AND ICONS---------*/

/*little icon*/
.home-bullet__icon svg
{
    fill: blueviolet;
}

/*icon localisation*/
.address__icon
{
    fill: blueviolet;
}

/*icon result*/
.card--list__icon
{
    fill: blueviolet;
}

/*processus icons*/
.process_stats .process_stats-item .icon
{
    color: blueviolet;
}

/*button "participate"*/
.button--sc.large
{
    background-color: blueviolet;
}
/*regular button color*/
.button
{
    background-color : blueviolet;
}
/*secondary button*/
.button.secondary {
    background-color: blue;
    border: blue;
    color: white;
}
.button.hollow.secondary {
    background-color: transparent;
    border: blueviolet;
    color: blueviolet;
}
/*hover button "participate"*/
.button:hover, .button:focus
{
    background-color: blue;
    color: #FFF;
}

/*button for see participatory process*/
.button.hollow:focus, .button.hollow:hover
{
    border-color: blue;
    color: blue;
}

/*name user*/
.author-data .author__name
{
    color: blueviolet;
}

/*button hover "sign up"*/
a:hover, a:focus
{
    color: blue;
}

/*button "sign up"*/
.subhero-cta
{
    color: blueviolet;
}

/*button large*/
.button
{
    background-color: blueviolet;
}

/*button secondary*/
.button.hollow.secondary
{
    border: 1px solid blueviolet;
    color: blueviolet;
}

/*button neutral*/
.opinion-toggle--meh:hover, .opinion-toggle--meh:focus, .opinion-toggle--meh.is-active
{
    background-color: blue;
}

/*button disable*/
.button.disabled, .button.disabled:hover, .button.disabled:focus, .button[disabled], .button[disabled]:hover, .button[disabled]:focus
{
    background-color: blueviolet;
}

/*border button tag*/
.tags a
{
    border: 1px solid;
}

/*button secondary*/
.button.hollow.secondary:hover
{
    border: 1px solid blue;
    color: blue;
}
.button.hollow.secondary
{
    border: 1px solid blueviolet;
    color: blueviolet;
}

/*upload button*/
.card--list__data__icon .icon
{
    fill: blueviolet;
}
.card--list__data__icon:hover .icon
{
    fill: blue;
}

/*-----------END BUTTONS AND ICONS---------*/

/*--------- LINK---------------*/

/*some link*/
a
{
    color: blue;
}

/*link share*/
.link
{
    color: blue;
}

/*key down for menu*/
.dropdown.menu>li.is-dropdown-submenu-parent>a::after
{
    border-color: blue transparent transparent;
}

/*title link*/
.card__link:hover
{
    color: blueviolet;
}

/*----------END LINK-----------*/

/*----------------NAVIGATION SECTION-----------------------*/

/*progress bar*/
.process-header__progress .phase-item--past::after
{
    background-color: blue;
}
.process-header__progress .phase-item--past span
{
    background-color: blue;
}

/*name of section*/
.process-nav__link:hover, .process-nav__link.is-active
{
    color: blueviolet;
}
.process-nav__link:hover svg, .process-nav__link.is-active svg
{
    fill: blueviolet;
}

/*before after now*/
.order-by__tab.is-active
{
    color: blueviolet;
}

/*------------------END NAVIGATION SECTION--------------------------*/

</style>

